body {
    font-family: Solomon-Book, Arial, sans-serif;
    font-size: 1.8rem;
    color: #2c2c2c;
    background-color: #fff;
}

.cnt-title--lg, .cnt-title--xl, .cnt-title--xxl {
    font-family: ActaDisplay-Bold, Georgia, serif;
    line-height: 1.3;
}

.cnt-title--blue {
    color: #0e8f9c;
}

.align-center {
    text-align: center;
}
.pt-md {
    padding-top: 2.5rem;
}

.questionnaire-progress {
    position: relative;
    margin: 0 0 2rem;
}

.questionnaire-progress__label {
    display: block;
    width: 25%;
    font-family: Solomon-Bold, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #849bac;
}

.questionnaire-progress__label.is-highlighted {
    display: block;
    margin: 0 auto;
    color: #0e8f9c;
    font-weight: 700;
}

.questionnaire-progress__labels {
    order: 1;
    display: flex;
    justify-content: center;
    margin: 0 0 1.6666666667rem;
    width: 100%;
}

.assessment-section {
    width: 768px;
    display: table;
    margin: 0 auto;
}

.assessment-section .cnt-title {
    font-size: 36px;
    padding-bottom: 32px;
}

.questionnaire-progress__title {
    font-family: Solomon-Bold, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #0e8f9c;
    margin-bottom: 16px;
}

.questionnaire-progress__bar {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #d6ebfb;
}

.questionnaire-progress__bar__current {
    width: 0;
    height: 20px;
    background-color: #0e8f9c;
}

.questionnaire-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .05);
}
.questionnaire-actions {
    height: 80px;
    justify-content: space-between;
}
.questionnaire-continue, .questionnaire-finish, .has-result-next-tab, .questionnaire-submit {
    order: 2;
    width: auto;
    text-transform: uppercase;
    z-index: 1;
    background-color: #ea5735;
        color: #fff;
    border-radius: 2.25rem;
    font-family: Solomon-Bold,Arial,sans-serif;
    font-weight: 700;
}

.questionnaire-continue.disable {
    pointer-events: none;
    opacity: 0.5;
}

.btn-hide {
    display: none !important;
}

.middle-actions {
    position: absolute;
    top: 50%;
    margin-top: -19px;
    width: 100%;
    text-align: center;
}

.questionnaire-section {
    padding-top: 30px;
    padding-bottom: 110px;
    display: none;
}

.questionnaire-section.current {
    display: block;
}


.questionnaire-section .std-content h2{
    color: #0e8f9c;
    line-height: 1.3;
    font-size: 28px;
}

.questionnaire-section .std-content p{
    padding-top: 18px;
}

.questionnaire-section .form-field-text{
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 5px;
    border: 3px solid #d6ebfb;
    border-radius: 0.6px;
}

.questionnaire-section .form-field-text:focus {
    outline: none;
    border-color: #0e8f9c;
    color: #2c2c2c;
}

.fill-username {
    text-transform: uppercase;
}

.questionnaire-back {
    height: 38px;
    border-radius: 38px;
    float: left;
    margin-left: 32px;
}

#questionnaire_1 .form-row {
    margin-bottom: 15px;
}

.questionnaire-back:hover {
    background: #0e8f9c;
    color: #fff;
}

.question-item {
    display: none;
    margin-bottom: 25px;
}

.question-item.display {
    display: block;
}

#question-result {
    margin-top: 15px;
}

.questionnaire-children {
    display: none;
}

.questionnaire-children.showing {
    display: block;
}

.symptom-title {
    font-weight: 700;
    border-top: 1px solid #ccc;
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
}

.symptoms_list .symptom-item .symptom-row {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.symptoms_list .symptom-item .symptom-row:after {
    content: "";
    clear: both;
    display: block;
}

.symptoms_list .symptom_header, .symptoms_list .symptom-item .symptom-row{
    float: left;
    width: 100%;
}

.symptoms_list .symptom_header:after{
    content: "";
    clear: both;
    display: block;
}

.symptoms_list .column{
   float: left;
   width: 14%;
   text-align: center;
   display: table;
}

.symptoms_list .col1{
    width: 44%;
    text-align: left;
    padding-left: 16px;
}

.symptoms_list .symptom-item .middle{
    display: table-cell;
    vertical-align: middle;
    height: 26px;
}

.symptoms_list .symptom-item .answer-checkbox {
    width: 16px;
    height: 16px;
}

.symptoms-output {
    float: left;
    width: 100%;
    margin-top: 18px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.symptoms-output {
    display: none;

}
.symptoms-output .output-title{
    font-weight: 700;
}

.symptoms_list {
padding-bottom: 110px;

}
.symptoms_list:after {
    content: "";
    clear: both;
    display: block;
}

.your-detail .form-row{
    padding-bottom: 10px;
}